language: python
python:
    - "2.7"
    - "3.2"
    - "3.3"
    - "3.4"
install:
    - pip install numpy
    - pip install .
script:
    - python setup.py test
    - scripts/download.sh
    - scripts/test.sh
